@import url('https://fonts.googleapis.com/css2?family=Anaheim:wght@400..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Marmelad&display=swap');


h5 {
    font-family: "Marmelad";
    color: #243a76;
    font-size: 30px;
}

p{
    font-family: "Anaheim";
    color: #1a2a55;
    font-style:italic;
    font-size: 18px;
}

body {
    background-color:#e6eef6;
} 

.card {
    min-height: 30vh;
    padding: 9px;
    background-color: #8eb2d6dc;
}

#rodape {
    background-color: #8eb2d6dc;
}

iframe {
    width: 100%;
    height: 80%;
    position: absolute;
    bottom: 0;
    left: 0;
}